#exportPattern("^[[:alpha:]]+")


export(rlme)

export(GR_est)
export(JR_est)
export(GEER_est)
export(LM_est)

export(hbrwts_gr)
export(beta_var)
export(dispvar)
export(fitdvcov)
export(rhosch)
export(rhosect)
export(stanresidgr)
export(wilonestep)
export(wilstep)

export(rpr)
export(rprmeddis)
export(compare.fits)

export(getgrstplot)
export(getlmestplot)

export(summary.rlme)
export(plot.rlme)
