export(rlme)

export(GR_est)
export(JR_est)
export(GEER_est)
export(LM_est)

export(hbrwts_gr)
export(beta_var)
export(dispvar)
export(fitdvcov)
export(rhosch)
export(rhosect)
export(stanresidgr)
export(wilonestep)
export(wilstep)

export(rpr)
export(rprmeddis)
export(compare.fits)

export(getgrstplot)
export(getlmestplot)

export(summary.rlme)
export(plot.rlme)


importFrom("MASS", lmsreg, ltsreg, ginv, huber)
importFrom("quantreg", rq.fit.br, rq.fit.fnb)
importFrom("nlme", lme, random.effects)
importFrom("stringr", str_extract_all)
importFrom("mgcv", extract.lme.cov2)
importFrom("magic", adiag)
